doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        footer(style="width:100%;text-align:center;margin-top:200px;font-size:10px;")='乐云互动安卓内部分发系统——power by 张杰'